{% extends 'base.html' %}

{% block title %}
{{ department.name_of_department }}
{% endblock %}


{% block body %}
<div class="container mt-5"></div>
    <h1>{{ department.name_of_department }}</h1>

    <div class="alert alert-info">
        <p><b>ID подразделения: {{ department.id }}</b> </p>
        <p><b>Название подразделения: {{ department.name_of_department }}</b> </p>
        <p><b>Адрес подразделения: {{ department.adress_of_department }}</b> </p>
        <p><b>Номер подразделения: {{ department.number_of_department }}</b> </p>
        <a href="/department/{{ department.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/department/{{ department.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
{% endblock %}